body{
    margin: 0px;
    padding: 0px;
}

/*Header*/
#header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 10;
    
}
.header-logo{
    width: 270px;
    float: left;
}
#inner-nav-bar{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#inner-nav-bar li{
    padding-left: 5px;
    margin-left: 30px;
    font-size: 25px;
    
}
#inner-nav-bar li a{
    text-decoration:none;
    cursor: pointer;
    color: black; 
   // border: solid 2px white;
    padding: 5px;
}
#inner-nav-bar li a:hover{
    border-color: #00ace6;
    border-radius: 30px;
    
}
#inner-nav-bar li{ 
    display: flex;
    border: solid 2px white;
    padding: 5px;
}


/*Content*/
hr{
    text-align: center;
    width:50%;
    color: black;
}
#content{
    overflow: hidden;
    margin-top: 76px;
}
#shop-now{
    height: 600px;
    margin-bottom: 20px;
    overflow: hidden;
}
.section-name{
    height: 600px;
    background-color: blanchedalmond;
   
    
}
.main-video{
    position: absolute;
    object-fit: cover;
    filter: brightness(.4);
    width: 100%;
    height: 600px;
    
}
.text-on-video{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.text-on-video h1{
    font: normal normal 69px broadway;
    color: #00ace6;
    margin: 0;
    line-height: 2;
}
.text-on-video p{
    font: normal bold 4vmax 'Roboto Slab', serif;
    letter-spacing: 12px;
    margin: 0px;
    color: #ccf3ff;
}
.shop-now-button{
    width: 140px;
    height: 53px;
    border-radius: 30px;
    margin: 25px;
    font-size: 20px;
    box-shadow: 0px 0px 19px aliceblue;
    background-color: lightcyan;
    transition: transform 0.5s;
}
.shop-now-button:hover{
    transform: scale(1.05);
    background-color: red;
    color: white;
    box-shadow: 0px 0px 19px #b7591f;
}
#categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: white;
    height: 540px;
}

.paragraph-befor-category{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font: normal bold 2vw 'Roboto Slab', serif;
    letter-spacing:0;
    margin-top: 0;
}
.logo-before-category{
    color:#00ace6;
    font-family:Broadway;
    font-size:2.5vw;
    padding: 0px 6px;
}
.Category-photo{
    display: flex;
    justify-content: space-evenly;
}

.Category-photo-women{
    border: solid 2px white;
    background-image: url(../images/women.png);
    background-repeat: no-repeat;
    background-size: 85%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ;
    transition: transform 600ms;
}
.Category-photo-women:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.Category-photo-men{
    border: solid 2px white;
    background-image: url(../images/men.png);
    background-repeat: no-repeat;
    background-size: 53%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ; 
    transition: transform 600ms;
}
.Category-photo-men:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.Category-photo-kids{
    border: solid 2px white;
    background-image: url(../images/children1.png);
    background-repeat: no-repeat;
    background-size: 114%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ; 
    transition: transform 600ms;
}
.Category-photo-kids:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.category-paragraph{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    
}
.category-link{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.category-paragraph .women{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .women:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}
.category-paragraph .men{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .men:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}
.category-paragraph .kids{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .kids:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}

/*Media*/
@media screen and (max-width:1263px) {
    #categories{
        height: 500px;
    }
    .Category-photo-women{
        width: 246px;
        height: 246px;
    }
    .Category-photo-men{
        width: 246px;
        height: 246px;
    }
    .Category-photo-kids{
        width: 246px;
        height: 246px;
    }
}
@media screen and (max-width:974px) {
    #header{
        height: 66px;
    }
    #inner-nav-bar li a{
        font-size: 20px;
    }
    .header-logo{
        width: 200px;
    }
    #categories{
        height: 400px;
    }
    .paragraph-befor-category {
        font-size: 3vm;
    }
    
}
