body{
    margin: 0px;
    padding: 0px;
}

/*Header*/
#header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: white;
    z-index: 10;
    
}
.header-logo{
    width: 270px;
    float: left;
}
#inner-nav-bar{
    list-style: none;
    display: flex;
    flex-direction: row;
}
#inner-nav-bar li{
    display: flex;
    border: solid 2px white;
    padding: 5px;
    font-size: 25px;
    margin-left: 30px;
}
#inner-nav-bar li a{
    text-decoration:none;
    cursor: pointer;
    color: black; 
    padding: 5px;
    border: solid 2px white;
}
#inner-nav-bar li a:hover{
    border: solid 2px #00ace6;
    border-radius: 30px;  
}

.hamburger{
    display: none;
    position: absolute;
    right: 10px;
}

.line{
    background: black;
    width:30px;
    height:3px;
    margin: 6px 0;
    
}

/*Content*/
hr{
    text-align: center;
    width:50%;
    color: black;
}
#content{
    overflow: hidden;
    margin-top: 76px;
}
#shop-now{
    height: 600px;
    margin-bottom: 20px;
    overflow: hidden;
}
.section-name{
    height: 600px;
    background-color: blanchedalmond;
   
    
}
.main-video{
    position: absolute;
    object-fit: cover;
    filter: brightness(.4);
    width: 100%;
    height: 600px;
    
}
.text-on-video{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.text-on-video h1{
    font: normal normal 69px broadway;
    color: #00ace6;
    margin: 0;
    line-height: 2;
}
.text-on-video p{
    font: normal bold 4vmax 'Roboto Slab', serif;
    letter-spacing: 12px;
    margin: 0px;
    color: #ccf3ff;
}
.shop-now-button{
    width: 140px;
    height: 53px;
    border-radius: 30px;
    margin: 25px;
    font-size: 20px;
    box-shadow: 0px 0px 19px aliceblue;
    background-color: lightcyan;
    transition: transform 0.5s;
}
.shop-now-button:hover{
    transform: scale(1.05);
    background-color: red;
    color: white;
    box-shadow: 0px 0px 19px #b7591f;
}
                                                    /*Categories*/
#categories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: white;
    height: 540px;
}

.paragraph-befor-category{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font: normal bold 2vw 'Roboto Slab', serif;
    letter-spacing:0;
    margin-top: 0;
}
.logo-before-category{
    color:#00ace6;
    font-family:Broadway;
    font-size:2.5vw;
    padding: 0px 6px;
}

.category-photo{
    display: flex;
    justify-content: space-evenly;
}

.category-photo-women{
    border: solid 2px white;
    background-image: url(../images/women.png);
    background-repeat: no-repeat;
    background-size: 81%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ;
    transition: transform 600ms;
}
.category-photo-women:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.category-photo-men{
    border: solid 2px white;
    background-image: url(../images/men.png);
    background-repeat: no-repeat;
    background-size: 53%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ; 
    transition: transform 600ms;
}
.category-photo-men:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.category-photo-kids{
    border: solid 2px white;
    background-image: url(../images/children1.png);
    background-repeat: no-repeat;
    background-size: 114%;
    width: 360px;
    height: 330px;
    border-radius: 50%;
    background-position: center ; 
    transition: transform 600ms;
}
.category-photo-kids:hover{
    transform: scale(1.1);
    border: solid 2px #00ace6;
}
.category-paragraph{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
    
}
.category-link{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.category-paragraph .women{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .women:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}
.category-paragraph .men{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .men:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}
.category-paragraph .kids{
    padding: 10px;
    font: normal bold 30px 'Roboto Slab', serif;
    border: solid 2px black;
    border-radius: 30px;
    transition: transform 300ms;
}
.category-paragraph .kids:hover{
    transform: scale(1.1);
    border-color: #00ace6;
}
/*Services*/

#services{
    display: flex;
    flex-direction: column;
    background: white;
}
.slides{
    position: absolute;
    background: white;
    width: 95%;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 1s;
    border:1px solid #00ace6;
    border-radius: 20px;
}
.e-gift-text,.complaint-text,.p-styling-text{
    text-align: center;
    letter-spacing: 2px;
    font: normal normal 15px 'Roboto Slab', serif;
    line-height: 31px;
    
}
.services-title{
    font-weight:bold;
    font-size:30px;
    line-height: 4;
}
.gift-photo{
    position: relative;
    top: 40px;
    width: 65%;
}
.slides-and-controls{
    height: 600px;
    display: flex;
    justify-content: center;
}
.pre{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 270px;  
    width: 30%;
    height: 50px;
    order:1;
    text-align: center;
    z-index: 1;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 270px;
    width: 30%;
    height: 50px;
    order:3;
    text-align: center;
    z-index: 1;
}
.left-button , .right-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fff, #fff) padding-box,
               linear-gradient(50deg, rgba(0,172,230,1) 0%, rgba(7,230,186,1) 30%, rgba(61,172,214,1) 100%) border-box;
    border: 5px solid transparent;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    padding: 10px;
    cursor: pointer;
    font: normal normal 40px 'Monoton' ;
    transition: transform 200ms;
   
}
.left-button:hover{
    transform: scale(1.1);
}
.right-button:hover{
    transform: scale(1.1);
}

.slide-body{
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 530px;
    order: 2;
}
/*Media*/
@media screen and (max-width:1263px) {
    #categories{
        height: 410px;
    }
    .category-photo-women{
        width: 246px;
        height: 246px;
    }
    .category-photo-men{
        width: 246px;
        height: 246px;
    }
    .category-photo-kids{
        width: 246px;
        height: 246px;
    }
    
    .gift-photo{
        width: ;
    }
}
@media screen and (max-width:974px) {
    #header{
        height: 66px;
    }
    #inner-nav-bar li a{
        font-size: 20px;
    }
    .header-logo{
        width: 200px;
    }
    #categories{
        height: 400px;
    }
    .paragraph-befor-category {
        font-size: 3vw;
    }
    .logo-before-category{
        font-size: 3vw;
    }
    .gift-photo{
        width: ;
    }
    
    
}
@media screen and (max-width:860px){
    #categories{
        height: auto;
    }
    .category-photo-and-paragraph
    {
        display: flex;
        flex-direction: row;
        padding:10px;
    }
    .category-photo{
        flex-direction: column;
        width: 60%;
        align-items: center;
    }
    .category-paragraph{
        flex-direction: column;
        width:20%;
        align-items: center;
    }
    .category-paragraph .women{
        text-align: center
    }
    .category-paragraph .men{
        text-align: center
    }
    .category-paragraph .kids{
        text-align: center
    }
    .gift-photo{
        width: ;
    }
}
@media screen and (max-width:807px){
    #header{
        flex-direction: column;
        height: auto;
    }
    #inner-nav-bar{
        margin: 0;
        padding: 0;
    }
    .category-photo-and-paragraph{
        display: flex;
        flex-direction: row;
        gap:10%;
    }
   
    .gift-photo{
        width: 35vw;
    }
}

@media screen and (max-width:565px){
    #header{
        flex-direction: row;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    
    #inner-nav-bar{
        height: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        top:47px;
        align-items: center;
        transition: 1s;
        overflow: hidden;
    }
   #inner-nav-bar.active-nav{
        height: 250px;
    }
    #inner-nav-bar li{
        margin-left:0;
        margin-bottom: 10px;
    }
    #content{
        margin: 0;
    }
    .text-on-video h1 {
        font-size: 16vw;
    }
    .text-on-video p {
        font-size: 8vw;
    }
    .paragraph-befor-category {
        font-size: 4vw;
    }
    .logo-before-category{
        font-size: 4vw;
    }
    .category-photo-women {
        width: 52vw;
        height: 52vw;
    }
    .category-photo-men {
        width: 52vw;
        height: 52vw;
    }
    .category-photo-kids {
        width: 52vw;
        height: 52vw;
    }
    .category-paragraph .women{
        font-size: 4vw;
    }
    .category-paragraph .men{
        font-size: 4vw;
    }
    .category-paragraph .kids{
        font-size: 4vw;
    }
    .category-link {
        padding: 1vw;
    }
    
    .gift-photo{
        width: 65%;
    }
}

@media screen and (max-width:360px){
    #shop-now{
        height: 400px;
    }
    #shop-now video{
        height: 400px;
    }
    .text-on-video {
        height: 441px;
    }
    .gift-photo{
        width: 70%;
    }
    .services-title{
        font-size: 20px;
    }
    
}

